@model Blog161.ViewModel.ViewMensagensEComentarios

@{
    ViewData["Title"] = "Mensagens";
}
<h1>Posts</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataMensagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataMensagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.CategoriaId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MensagemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MensagemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MensagemId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

@foreach (var item in Model.Mensagens)
{
    <tr>
        <td>
            <h1>@Html.DisplayFor(modelItem => item.Titulo)</h1>
        </td>
        <td>
            <h3>@Html.DisplayFor(modelItem => item.Descricao)</h3>
        </td>
        <td>
            <div class="card-body">
                <p> "@Html.DisplayFor(modelItem => item.Descricao)"</p>
                <h5 class="card-title">Comentários</h5>
                <div class="row">

                    @foreach (var item2 in Model.Comentarios)
                    {
                        @if (item2.MensagemId == item.MensagemId)
                        {
                            <div class="col-sm-6">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">@item2.Titulo</h5>
                                        <p class="card-text">@item2.Descricao</p>
                                        <span class="blockquote-footer float-left">@item2.Autor - @item2.DataComentario</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <a asp-action="Create" asp-controller="Comentario" class="btn btn-primary float-right">Comentar</a>

            </div>
        </td>
        <td>
            <a asp-action="Delete" asp-route-id="@item.MensagemId">Delete</a>
        </td>
    </tr>
}